.header{
  margin: 0;
  padding: 0;
  min-height: 100px;
  line-height: 2;
  height: 10vh;
  width: 100vw;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  color: #e5713c;
}

.intro{
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: center;
  height: fit-content;
  flex-wrap: wrap;
  margin: 0;
  font-size: 20px;
  color: #f18ca9;
}

.boardContainer{
  width: 100vw;
  height: fit-content;
  display: grid;
  place-items: center;
  padding: 30px 0;
}
.board{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  width: 80%;
  height: fit-content;
  gap: 30px;  
}

.event{
  height: 300px;
  width: 300px;
  display: flex;
  color: #213547;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  gap: 5px;
  border: 1.5px solid #EDEEC9;
  font-weight: 600;
  font-size: 2rem;
  background-color: #EDEEC9;
}

.event img{
  object-fit: contain;
  max-width: 90%;
  height: 50%;
  border-radius: 8px;
}

.imageContainer img{
    width: fit-content;
    height: fit-content;
}

.eventName{
  font-size: 16px;
  text-align: center;
}

.eventUrl{
  border-radius: 4px;
  border: none;
  width: fit-content;
  padding: 10px;
  background-color: #61cf6c;
  color: #EDEEC9;
  cursor: pointer;
  font-family: 'Martian Mono', monospace;
  font-weight: 500;
  transition: all .1s ease-in-out;
}

@media only screen and (max-width: 1024px){
  .board{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 600px){
  .header{
    font-size: 2rem;
    height: fit-content;
    line-height: 1.2;
  }


  .BoardContainer{
    padding: 20px 0;
  }


  .board{
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  .event{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
  }
} 

/* If the user prefers dark theme */
@media (prefers-color-scheme: dark) {
  
.event{
  height: 300px;
  width: 300px;
  border-radius: 6px;
  border: 2px solid #FFF8F0;
  background-color: #242424;
  color: #FFF8F0 ;
}


.eventLink{
  background-color: #242424;
  border: 2px solid #FFF8F0;
  color: #FFF8F0;
}
}